@charset "UTF-8";

.color666 {
  color: #666
}

.color999 {
  color: #999
}

.color333 {
  color: #333
}

.redColor {
  color: #ff4546
}

.baseColor {
  color: #00bdae
}

.baseBtn {
  display: inline-block;
  width: 200px;
  height: 36px;
  box-sizing: border-box;
  line-height: 36px;
  border-radius: 4px;
  text-align: center;
  background: #fff;
  color: #fff;
  cursor: pointer;
  border: 0;
  font-size: 14px
}

input.baseBtn {
  padding: 0
}

.bacBtn {
  background: #00bdae
}

.borderBtn {
  border: 1px solid #00bdae;
  color: #00bdae
}

.borderBtn_gray {
  color: #666;
  background: #fff;
  border: 1px solid #cbcbcb
}

.redBtn {
  background: #ff4546;
  color: #fff;
  line-height: 36px
}

.bacBtn:hover {
  color: #fff;
  background: #33c7bd
}

.borderBtn:hover {
  color: #00bdae;
  background: #dffbf9
}

.borderBtn_gray:hover {
  background: #f8f8f8;
  color: #666
}

.redBtn:hover {
  background: #ff6a6b !important
}

.has-error .form-control {
  border-color: #ff4546
}

.hoverUndeline:hover {
  text-decoration: underline
}

.X_top {
  height: 80px;
  width: 100%;
  background: #fff;
  line-height: 80px;
  min-width: 1366px;
  box-sizing: border-box
}

.X_top .centerDiv {
  width: 1320px;
  margin: 0 auto
}

.X_top .icon-logo {
  display: inline-block;
  width: 40px;
  color: #00bdae;
  font-size: 40px;
  float: left;
  margin-right: 20px
}

.X_top .name {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  line-height: 20px;
  margin-top: 20px
}

.X_top .name span {
  font-size: 12px;
  font-weight: 500
}

.X_top .topUl {
  float: left;
  margin-left: 70px
}

.X_top .topUl li {
  float: left;
  margin-right: 30px
}

.X_top .topUl li a {
  font-size: 15px;
  color: #333;
  display: inline-block;
  line-height: 50px
}

.X_top .topUl li:nth-last-child(1) {
  margin-right: 0
}

.X_top .topUl li.active a {
  color: #00bdae;
  border-bottom: 3px solid #00bdae
}

.X_top .topUl li:hover a {
  color: #00bdae
}

.X_top .baseBtn {
  height: 40px;
  line-height: 40px;
  margin-top: 18px
}

.X_top .taskIn {
  display: inline-block;
  width: 130px;
  border-radius: 20px
}

.title {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 40px
}

.floatDiv {
  position: fixed;
  width: 70px;
  bottom: 20%;
  right: 50px;
  z-index: 9999
}

.floatDiv a {
  display: inline-block;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
  font-size: 12px
}

.floatDiv .icon-u {
  font-size: 30px
}

.floatDiv .icon-CombinedShapeCopy1 {
  font-size: 32px;
  margin-top: 7px;
  display: inline-block;
  margin-bottom: -2px
}

.floatDiv .qq {
  background: #00bdae;
  color: #fff
}

.floatDiv .up {
  line-height: 80px;
  margin-top: 20px;
  background: #fff;
  border: 1px solid #d8e8eb;
  color: #8da1b9
}

.floatDiv a:hover {
  opacity: .8
}

@font-face {
  font-family:'MyNewFont';src:url("/assets/meta/z1adb662/boss/site/Bose.otf")
}

.newFont {
  font-family: 'MyNewFont'
}

#homepage .bannerDiv {
  height: 500px;
  background: url("./banner1.png") no-repeat center center;
  position: relative;
  overflow: hidden
}

#homepage .bannerDiv .webSort {
  width: 1216px;
  margin: 0 auto;
  padding-top: 130px;
  color: #fff;
  font-size: 18px
}

#homepage .bannerDiv .webSort .bannerTitle {
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: bold
}

#homepage .bannerDiv .webSort .guideA {
  margin: 20px 0 14px 0
}

#homepage .bannerDiv .webSort .guideA a {
  padding: 0 15px;
  color: #fff;
  font-size: 18px;
  border-right: 1px solid #fff
}

#homepage .bannerDiv .webSort .guideA .first {
  padding-left: 0
}

#homepage .bannerDiv .webSort .guideA .last {
  border-right: 0
}

#homepage .bannerDiv .webSort .guideA a:hover {
  text-decoration: underline
}

#homepage .bannerDiv .webSort .newFont {
  color: #ffd200;
  font-size: 22px
}

#homepage .bannerDiv .webSort .privilegeBtn {
  background: #ff8400;
  margin-right: 20px;
  color: #fff
}

#homepage .bannerDiv .webSort .downBtn {
  background: 0;
  border: 1px solid #fff;
  color: #fff
}

#homepage .bannerDiv .webSort .baseBtn {
  height: 40px;
  line-height: 40px
}

#homepage .bannerDiv .webSort .baseBtn:hover {
  opacity: .8
}

#homepage .bannerDiv .webSort .mb40 {
  margin-bottom: 40px
}

#homepage .introDiv {
  font-size: 15px
}

#homepage .introDiv .centerDiv {
  width: 1165px;
  margin: 0 auto;
  overflow: hidden
}

#homepage .introDiv .centerDiv h1 {
  font-size: 22px;
  color: #333;
  margin-bottom: 14px
}

#homepage .introDiv .yesDetail {
  padding: 70px 0;
  border-bottom: 1px solid #eff6f3
}

#homepage .introDiv .serviceDetail {
  text-align: center;
  padding: 70px 0
}

#homepage .introDiv .serviceDetail .sortUl {
  overflow: hidden;
  padding-top: 30px
}

#homepage .introDiv .serviceDetail .sortUl li {
  float: left;
  color: #999
}

#homepage .introDiv .serviceDetail .sortUl .middleLi {
  margin: 0 240px 0 265px
}

#homepage .introDiv .biuDetail {
  padding: 70px 0;
  background: #eff6f3
}

#homepage .introDiv .biuDetail ul {
  overflow: hidden
}

#homepage .introDiv .biuDetail li.box {
  float: left;
  width: 264px;
  height: 276px;
  background: #fff;
  padding: 40px;
  color: #999;
  margin-right: 28px;
  background: url("./biu1.png") no-repeat
}

#homepage .introDiv .biuDetail li.box p {
  line-height: 24px
}

#homepage .introDiv .biuDetail li.box2 {
  background: url("./biu2.png") no-repeat
}

#homepage .introDiv .biuDetail li.box3 {
  background: url("./biu3.png") no-repeat
}

#homepage .introDiv .biuDetail li.box4 {
  background: url("./biu4.png") no-repeat
}

#homepage .introDiv .advantageDetail {
  padding: 70px 0
}

#homepage .introDiv .advantageDetail ul {
  width: 506px;
  padding-top: 40px
}

#homepage .introDiv .advantageDetail ul li {
  color: #999;
  margin-bottom: 40px
}

#homepage .introDiv .seoDetail {
  height: 392px;
  overflow: hidden;
  background: url("./seoBac.png") no-repeat center center
}

#homepage .introDiv .seoDetail .seoinfo {
  color: #fff;
  font-size: 36px;
  text-align: center;
  width: 300px;
  margin-top: 80px;
  margin-left: 170px
}

#homepage .introDiv .seoDetail .arrowBtn {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  margin-top: 40px;
  font-size: 32px;
  cursor: pointer
}

#homepage .introDiv .seoDetail .arrow-left {
  margin-right: 20px
}

#homepage .introDiv .seoDetail .arrowBtn:hover {
  background: #fff;
  color: #00bdae
}

#homepage .introDiv .seoDetail .swiper-container {
  width: 1060px;
  height: 260px;
  margin-top: 80px
}

#homepage .introDiv .seoDetail .swiper-slide {
  width: 930px;
  height: 100%
}

#homepage .introDiv .seoDetail .swiper-pagination {
  position: absolute;
  left: 0;
  text-align: center;
  width: 100%;
  bottom: 0
}

#homepage .introDiv .seoDetail .swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 8px;
  opacity: .8;
  background: 0;
  margin: 0 5px;
  cursor: pointer
}

#homepage .introDiv .seoDetail .swiper-active-switch {
  background: #fff;
  width: 28px;
  height: 10px;
  opacity: 1
}

#homepage .introDiv .seoDetail .evaluateBox {
  width: 280px;
  height: 200px;
  background: #fff;
  border-radius: 4px;
  padding: 46px 30px 30px;
  margin-right: 30px;
  float: left
}

#homepage .introDiv .seoDetail .evaluateBox .evaluate {
  margin-bottom: 23px;
  height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical
}

#homepage .introDiv .seoDetail .evaluateBox .euserImg {
  width: 48px;
  height: 48px;
  float: left;
  margin-right: 20px
}

#homepage .introDiv .seoDetail .evaluateBox .euserInfo {
  font-size: 15px;
  color: #999;
  display: inline-block;
  padding-top: 5px;
  font-family: MyNewFont
}

#homepage .introDiv .seoDetail .evaluateBox .face {
  background-image: url("./user.png");
  display: inline-block;
  height: 48px;
  width: 48px;
  float: left;
  margin-right: 20px
}

#homepage .introDiv .partnerDetail {
  padding: 70px 0
}

#homepage .introDiv .partnerDetail .title {
  margin-bottom: 30px
}

#homepage .introDiv .partnerDetail img {
  margin-left: 60px
}

#homepage .introDiv .partnerDetail .firstImg {
  margin-left: 0
}

#baseFooter {
  background: #001c19;
  color: #747d7c
}

#baseFooter .centerDiv {
  width: 1165px;
  margin: 0 auto;
  overflow: hidden;
  padding: 50px 0
}

#baseFooter ul {
  float: left
}

#baseFooter ul li {
  margin-right: 10px;
  margin-bottom: 18px
}

#baseFooter ul li a {
  color: #747d7c
}

#baseFooter .quickEntry {
  width: 100%;
  margin-top: 12px
}

#baseFooter .quickEntry li {
  margin-bottom: 0
}

#baseFooter .friendsLink {
  width: 550px
}

#baseFooter .friendsLink .tipLi {
  width: 100%
}

#baseFooter .friendsLink li {
  float: left
}

#baseFooter .linkUs {
  margin-right: 50px
}

#baseFooter .linkUs li {
  width: auto
}

#baseFooter .linkUs li a {
  color: rgba(255,255,255,0.8)
}

#baseFooter .linkUs .tipLi a {
  color: #747d7c
}

#baseFooter .linkUs .iconfont {
  margin-right: 15px;
  color: #4d5b59
}

#baseFooter .linkUs .qqonline {
  display: inline-block;
  border: 1px solid #747d7c;
  height: 28px;
  line-height: 26px;
  padding: 0 10px;
  border-radius: 2px
}

#baseFooter .codeDiv {
  color: rgba(255,255,255,0.8);
  text-align: center
}

#baseFooter .codeDiv .codeImg {
  margin: 40px 0 8px 0
}

#baseFooter .providerDiv {
  line-height: 40px;
  text-align: center;
  font-size: 13px;
  border-top: 1px solid #1a3330
}

#baseFooter .providerDiv a {
  color: #747d7c;
  display: inline-block
}

#baseFooter .providerDiv img {
  float: left;
  margin: 10px 10px 0 30px
}

#download .bannerDiv {
  height: 684px;
  position: relative;
  background: url("./toolBanner.png") no-repeat center center
}

#download .bannerDiv .downBtn {
  width: 200px;
  height: 56px;
  line-height: 54px;
  display: inline-block;
  border: 1px solid #fff;
  cursor: pointer;
  color: #00bdae;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 130px
}

#download .bannerDiv .downBtn:hover {
  opacity: .8
}

#download .downloadDetail {
  background: #eff6f3;
  padding: 80px 0;
  text-align: center
}

#download .downloadDetail .title {
  margin-bottom: 20px
}

#download .downloadDetail ul {
  overflow: hidden;
  display: inline-block
}

#download .downloadDetail ul li {
  float: left;
  color: #999;
  margin-right: 70px;
  text-align: center
}

#download .downloadDetail ul li .iconfont {
  color: #00bdae;
  font-size: 68px
}

#download .downloadDetail ul .last {
  margin-right: 0
}

#download .downloadDetail .downDiv {
  overflow: hidden;
  display: inline-block;
  margin-top: 73px
}

#download .downloadDetail .downBox {
  width: 603px;
  height: 400px;
  background: #fff;
  box-sizing: border-box;
  color: #999;
  padding-top: 62px;
  float: left
}

#download .downloadDetail .downBox .iconfont {
  color: #00bdae;
  font-size: 64px;
  margin-top: 62px
}

#download .downloadDetail .downBox .versionP {
  font-size: 18px;
  color: #333;
  margin: 20px 0 10px 0
}

#download .downloadDetail .downBox p {
  line-height: 24px
}

#download .downloadDetail .downBox .downBtn {
  width: 160px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  margin-top: 40px
}

#download .downloadDetail .downBox .downBtn:hover {
  background: #00bdae;
  color: #fff
}

#download .tooldownloadDetail {
  background: #fff;
  padding: 10px 0 80px
}

#cooperate {
  color: #999
}

#cooperate .centerDiv {
  width: 870px;
  margin: 0 auto;
  overflow: hidden
}

#cooperate .centerDiv h1 {
  font-size: 22px;
  color: #333;
  margin-bottom: 18px
}

#cooperate .bannerDiv {
  height: 500px;
  background: url("./cooperate.png") no-repeat center center;
  position: relative
}

#cooperate .bannerDiv .coListUl {
  color: #fff;
  font-size: 18px;
  padding-top: 104px;
  opacity: .9;
  width: 814px;
  margin: 0 auto
}

#cooperate .bannerDiv .coListUl li {
  list-style: disc;
  line-height: 45px
}

#cooperate .wayDetail {
  padding: 80px 0
}

#cooperate .wayDetail ul li {
  list-style-type: disc;
  margin-bottom: 10px
}

#cooperate .linkDetail {
  padding: 55px 0;
  background: #eff6f3
}

#operate {
  background: #eff6f3
}

#operate .operateDetail {
  overflow: hidden;
  padding: 20px;
  width: 1240px;
  margin: 0 auto
}

#operate .leftDiv {
  background: #fff;
  width: 880px
}

#operate .leftDiv .ptitle {
  padding-top: 28px
}

#operate .leftDiv .articalBox {
  padding: 28px;
  border-bottom: 1px solid #d8e8eb
}

#operate .leftDiv .articalBox dl {
  overflow: hidden
}

#operate .leftDiv .articalBox dl dt {
  float: left;
  margin-right: 28px
}

#operate .leftDiv .articalBox dl dd {
  float: left;
  width: 100%;
  color: #999
}

#operate .leftDiv .articalBox dl dd h1 {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold
}

#operate .leftDiv .articalBox dl dd h1:hover {
  text-decoration: underline
}

#operate .leftDiv .articalBox dl dd p {
  line-height: 24px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical
}

#operate .leftDiv .articalBox dl dd p strong {
  color: #999
}

#operate .leftDiv .articalBox dl dd .readAll {
  color: #00bdae
}

#operate .leftDiv .articalBox img {
  width: 200px;
  height: 150px
}

.articleHeader {
  font-size: 28px;
  padding: 30px 40px;
  border-bottom: 1px solid #d8e8eb
}

.articleHeader .articleTitle {
  font-weight: bold
}

.articleHeader span {
  color: #999;
  font-size: 14px;
  display: inline-block;
  line-height: 22px
}

.articleHeader .iconfont {
  margin-right: 10px;
  float: left
}

.articleHeader .icon-eye,.articleHeader .icon-pin1 {
  margin-left: 30px
}

.articalContent {
  padding: 20px 40px
}

.articalContent img {
  width: 100%;
  max-width: 800px
}

.articalContent p {
  line-height: 30px
}

.articalBottom {
  padding: 20px 40px 30px 40px;
  color: #333;
  border-bottom: 1px solid #d8e8eb
}

.articalBottom label {
  color: #999
}

.articalBottom p {
  line-height: 36px;
  display: inline-block
}

.articalBottom a:hover {
  text-decoration: underline
}

.articalBottom .brandTip {
  margin-left: 80px
}

.articalBottom .brandTip a {
  display: inline-block;
  background: #eff6f3;
  border-radius: 4px;
  padding: 0 16px;
  margin-left: 10px
}

.articalBottom .brandTip a:hover {
  text-decoration: none
}

.articalBottom .prenext {
  overflow: hidden;
  margin-top: 10px
}

.hotEvaluateDiv {
  padding: 30px 40px;
  border-bottom: 1px solid #d8e8eb
}

.hotEvaluateDiv h1 {
  font-size: 28px;
  color: #333
}

.hotEvaluateDiv .box .userName {
  color: #999
}

.hotEvaluateDiv .box .content {
  color: #666;
  padding: 6px 0 12px 0
}

.hotEvaluateDiv .userbox {
  padding-top: 20px
}

.hotEvaluateDiv .liuliangbox {
  border-bottom: 1px solid #d8e8eb;
  padding-bottom: 20px
}

.hotEvaluateDiv .authorDiv {
  padding: 10px 20px 0 20px;
  background: #eff6f3;
  position: relative
}

.hotEvaluateDiv .authorDiv:after {
  width: 0;
  height: 0;
  border-bottom: 6px solid #eff6f3;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: '';
  position: absolute;
  top: -6px;
  left: 14px
}

.evaluateDiv {
  padding: 30px 40px
}

.evaluateDiv h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px
}

.evaluateDiv h1 span {
  font-size: 14px;
  color: #999;
  margin-left: 10px
}

.evaluateDiv label {
  width: 52px;
  color: #666;
  line-height: 36px;
  float: left
}

.evaluateDiv .emailLabel {
  width: auto;
  margin-right: 24px;
  margin-left: 55px
}

.evaluateDiv .nameInp {
  width: 200px
}

.evaluateDiv .emailInp {
  width: 408px
}

.evaluateDiv .webdotInp {
  width: 748px
}

.evaluateDiv .codeInp {
  width: 200px
}

.evaluateDiv .imgCode {
  margin: 0 20px 0 30px;
  height: 44px
}

.evaluateDiv .evaInp {
  width: 748px;
  height: 160px;
  margin-bottom: 14px
}

.evaluateDiv .change {
  color: #666
}

.evaluateDiv .change:hover {
  text-decoration: underline
}

.evaluateDiv input {
  margin-bottom: 14px
}

.evaluateDiv .evaBtn {
  width: 160px;
  margin-left: 52px;
  margin-top: 10px
}

.tempBox {
  padding: 28px 0;
  background: #fff;
  width: 300px;
  margin-bottom: 20px
}

.tempBox ul {
  padding: 16px 28px;
  color: #999
}

.tempBox ul li {
  list-style-type: disc;
  list-style-position: inside;
  line-height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.tempBox ul li a {
  color: #999
}

.tempBox ul li:hover a {
  text-decoration: underline
}

#help {
  background: #eff6f3
}

#help .centerDiv {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden
}

#help .serDiv {
  height: 300px;
  overflow: hidden;
  background: -webkit-linear-gradient(left,#06ba9d,#2dd5d8);
  background: -o-linear-gradient(left,#06ba9d,#2dd5d8);
  background: -moz-linear-gradient(left,#06ba9d,#2dd5d8);
  background: linear-gradient(to right,#06ba9d,#2dd5d8)
}

#help .serDiv .title {
  font-size: 30px;
  color: #fff;
  margin: 36px 0 30px
}

#help .serDiv .serInp {
  width: 1000px;
  height: 60px;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 18px
}

#help .serDiv .icon-search1 {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #00bdae;
  cursor: pointer;
  border: 0;
  background: 0;
  outline: 0
}

#help .serDiv .keyWords li {
  float: left;
  height: 36px;
  padding: 0 15px;
  border-radius: 4px;
  color: #fff;
  line-height: 36px;
  background: rgba(255,255,255,0.2);
  margin: 0 12px 12px 0;
  cursor: pointer
}

#help .serDiv .keyWords li a {
  color: #fff
}

#help .serDiv .keyWords li:hover {
  background: #fff
}

#help .serDiv .keyWords li:hover a {
  color: #00bdae
}

#help .sortDiv {
  padding: 30px 0
}

#help .matterSort li {
  width: 182px;
  height: 50px;
  line-height: 50px;
  border-top: 2px solid #fff;
  background: #e6edec;
  text-align: center;
  font-size: 16px;
  cursor: pointer
}

#help .matterSort li a {
  display: inline-block;
  width: 100%;
  color: #666
}

#help .matterSort .first {
  background: #00bdae;
  color: #fff
}

#help .matterSort li.active {
  background: #fff;
  color: #00bdae;
  border-left: 4px solid #00bdae
}

#help .sortDetail {
  width: 818px;
  background: #fff;
  min-height: 650px
}

#help .sortDetail .sortTitle {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #d8e8eb;
  color: #00bdae;
  padding: 0 40px;
  font-size: 16px
}

#help .sortDetail .sortList {
  padding: 10px 40px
}

#help .sortDetail .sortList li {
  list-style-type: disc;
  list-style-position: inside;
  line-height: 30px
}

#help .sortDetail .sortList li:hover a {
  text-decoration: underline
}

.actiDiv {
  position: relative;
  height: 80px
}

.actiDiv .closeAd {
  display: inline-block;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 20px;
  right: 60px;
  cursor: pointer;
  opacity: .7
}

.actiDiv .D_ads {
  width: 100%;
  display: inline-block;
  height: 80px;
  background: url("./top.png") no-repeat center center
}

.modal-header {
  border: 0;
  padding: 40px 30px 0;
  text-align: center
}

.modal-header .modal-title {
  box-sizing: border-box;
  font-size: 24px;
  color: #333
}

.modal-header .closeA {
  margin-top: 5px;
  float: right
}

.modal-header .icon-close {
  font-size: 20px;
  color: #333
}

.modal-content {
  border-radius: 0;
  border: none !important
}

.modal-body {
  padding: 20px 30px 30px
}

.popDownLoad .downLoadTip {
  height: 36px;
  line-height: 36px;
  background: #fff3d4;
  box-shadow: inset 0 1px 0 0 #ffe4a0;
  color: #ff854e;
  padding: 0 30px
}

.popDownLoad .downLoadStep {
  font-size: 18px;
  padding: 16px 20px;
  background: #eff6f3;
  border: 1px solid #d4e3e1;
  margin-bottom: 14px
}

.popDownLoad .stepOne {
  margin-bottom: 20px
}

.popDownLoad .toDetail {
  color: #666;
  font-size: 14px;
  text-decoration: underline
}

.popDownLoad .tip {
  color: #999;
  margin-bottom: 20px
}

.popDownLoad .tip .icon-s {
  color: #00bdae;
  margin-right: 10px
}

.popDownLoad .downBtn {
  width: 160px
}

.ptitle {
  font-size: 18px;
  padding-left: 28px;
  padding-bottom: 16px;
  border-bottom: 1px solid #d8e8eb
}

.ptitle .square {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #00bdae;
  margin-right: 10px
}

.helpDetail {
  background: #eff6f3
}

.helpDetail .operateDetail {
  overflow: hidden;
  padding: 20px;
  width: 1240px;
  margin: 0 auto
}

.helpDetail .leftDiv {
  background: #fff;
  width: 880px
}

#aboutUs {
  background: #eff6f3;
  padding: 20px 0
}

#aboutUs .aboutDetail {
  padding: 40px;
  width: 1200px;
  margin: 0 auto;
  background: #fff
}

#aboutUs .aboutDetail .ptitle {
  padding: 0;
  border: 0
}

#aboutUs .aboutDetail .content {
  padding: 20px 0 60px 18px;
  line-height: 28px
}

#aboutUs .aboutDetail .m-t-26 {
  margin-top: 26px
}

#links {
  background: #eff6f3;
  padding: 20px 0
}

#links .linksDetail {
  padding: 40px;
  width: 1200px;
  margin: 0 auto;
  background: #fff;
  height: 504px
}

#links .linksDetail .ptitle {
  padding: 0;
  border: 0
}

#links .linksDetail .content {
  padding: 20px 0 60px 18px;
  line-height: 28px;
  color: #666
}

#links .linksDetail .m-t-50 {
  margin-top: 50px
}

.secondaryIndex .swiper-container {
  width: 100%;
  height: 500px
}

.secondaryIndex .swiper-container .swiper-wrapper,.secondaryIndex .swiper-container .swiper-slide {
  width: 100%;
  height: 100%
}

.secondaryIndex .swiper-container .arrow-left {
  position: absolute;
  display: inline-block;
  background: url("./Slice.png") -76px -124px !important;
  width: 36px !important;
  height: 36px !important;
  margin-top: -18px !important;
  left: 100px !important;
  top: 50%
}

.secondaryIndex .swiper-container .arrow-right {
  position: absolute;
  display: inline-block;
  background: url("./Slice.png") -112px -124px !important;
  top: 50%;
  width: 36px !important;
  height: 36px !important;
  margin-top: -18px !important;
  right: 100px !important
}

.secondaryIndex .swiper-container .swiper-pagination {
  position: absolute;
  left: 0;
  text-align: center;
  width: 100%;
  bottom: 20px !important
}

.secondaryIndex .swiper-container .swiper-pagination-switch {
  display: inline-block;
  width: 14px !important;
  height: 10px !important;
  border: 2px solid #fff !important;
  border-radius: 8px !important;
  opacity: .8 !important;
  background: none !important;
  margin: 0 5px;
  cursor: pointer
}

.secondaryIndex .swiper-container .swiper-active-switch {
  background: #fff !important;
  width: 28px !important;
  height: 10px !important;
  opacity: 1 !important
}

.secondaryIndex .title_h1 {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  color: #333;
  padding: 60px 0 40px 0
}

.secondaryIndex .service .step_detail {
  overflow: hidden;
  margin: 0 auto
}

.secondaryIndex .service .step_detail dl {
  text-align: center;
  float: left;
  margin-bottom: 40px
}

.secondaryIndex .service .step_detail dl dt .icon {
  display: inline-block;
  width: 124px;
  height: 124px
}

.secondaryIndex .service .step_detail dl dd p {
  font-size: 14px;
  color: #999;
  line-height: 24px
}

.secondaryIndex .service .step_detail dl dd .pTitle {
  font-size: 20px;
  color: #333;
  padding: 12px 0
}

.secondaryIndex .help {
  padding-bottom: 60px
}

.secondaryIndex .help .ulDiv {
  margin: 0 auto;
  width: 966px;
  height: 252px;
  position: relative
}

.secondaryIndex .help ul {
  width: 470px;
  height: 252px;
  background: #eff6f3;
  padding: 43px;
  box-sizing: border-box;
  float: left;
  position: relative
}

.secondaryIndex .help ul li {
  list-style-type: decimal;
  list-style-position: inside;
  color: #666;
  line-height: 28px
}

.secondaryIndex .help ul li a {
  font-size: 14px;
  color: #666
}

.secondaryIndex .help ul li a:hover {
  text-decoration: underline
}

.secondaryIndex .help ul .square {
  width: 30px;
  height: 30px;
  background: #00bdae;
  position: absolute;
  top: 0;
  right: 0;
  list-style-type: none
}

.secondaryIndex .help .ul1 {
  margin-right: 26px
}

.eb_index .swiper-container .banner1 {
  background: url("./banner3.png") center top no-repeat
}

.eb_index .swiper-container .banner1 .txtDiv {
  width: 1078px;
  margin: 0 auto;
  padding-top: 125px;
  color: #fff;
  font-size: 18px
}

.eb_index .swiper-container .banner1 .txtDiv .bannerTitle {
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 2px
}

.eb_index .service .step_detail {
  width: 1200px
}

.eb_index .service .step_detail dl {
  width: 400px
}

.eb_index .service .step_detail dl dt .icon {
  background: url("./Artboard.png")
}

.eb_index .service .step_detail dl dt .icon1 {
  background-position: top left
}

.eb_index .service .step_detail dl dt .icon2 {
  background-position: -124px top
}

.eb_index .service .step_detail dl dt .icon3 {
  background-position: -248px top
}

.eb_index .service .step_detail dl dt .icon4 {
  background-position: -372px top
}

.eb_index .service .step_detail dl dt .icon5 {
  background-position: -496px top
}

.eb_index .service .step_detail dl dt .icon6 {
  background-position: -620px top
}

.eb_index .intro {
  background: #eff6f3
}

.eb_index .intro .box {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto
}

.eb_index .intro .box img {
  float: left
}

.eb_index .intro .box .introDiv {
  float: left;
  padding-top: 118px
}

.eb_index .intro .box .pTitle {
  font-size: 24px
}

.eb_index .intro .box .hr {
  width: 24px;
  height: 4px;
  background: #333;
  margin: 24px 0
}

.eb_index .intro .box .pTxt {
  font-size: 14px;
  color: #999;
  line-height: 30px
}

.eb_index .intro .box_one img {
  margin: 0 30px
}

.eb_index .intro .box_two {
  background: #fff;
  margin-top: 44px;
  padding-top: 30px;
  height: 494px
}

.eb_index .intro .box_two .introDiv {
  margin: 0 43px 0 128px
}

.eb_index .intro .box_three {
  padding: 60px 0
}

.ap_index .swiper-container .banner1 {
  background: url("./Y_banner.png") center top no-repeat
}

.ap_index .swiper-container .banner1 .txtDiv {
  width: 1000px;
  margin: 0 auto;
  padding-top: 132px;
  color: #fff;
  font-size: 18px
}

.ap_index .swiper-container .banner1 .txtDiv .bannerTitle {
  margin-bottom: 10px;
  font-size: 34px;
  font-weight: bold
}

.ap_index .service .step_detail {
  width: 1200px
}

.ap_index .service .step_detail dl {
  width: 300px
}

.ap_index .service .step_detail dl dt .icon {
  background: url("./Y_Artboard.png")
}

.ap_index .service .step_detail dl dt .icon1 {
  background-position: left top
}

.ap_index .service .step_detail dl dt .icon2 {
  background-position: -124px top
}

.ap_index .service .step_detail dl dt .icon3 {
  background-position: -248px top
}

.ap_index .service .step_detail dl dt .icon4 {
  background-position: -372px top
}

.ap_index .intro {
  background: #eff6f3
}

.ap_index .intro .box {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden
}

.ap_index .intro .box img {
  float: left
}

.ap_index .intro .box .introDiv {
  float: left;
  padding-top: 118px
}

.ap_index .intro .box .pTitle {
  font-size: 24px
}

.ap_index .intro .box .hr {
  width: 24px;
  height: 4px;
  background: #333;
  margin: 24px 0
}

.ap_index .intro .box .pTxt {
  font-size: 14px;
  color: #999;
  line-height: 30px
}

.ap_index .intro .box_one img {
  margin: 0 30px
}

.ap_index .intro .box_two {
  background: #fff;
  margin-top: 44px;
  padding-top: 30px;
  height: 494px
}

.ap_index .intro .box_two .introDiv {
  margin: 0 43px 0 128px
}

.ap_index .intro .box_three {
  padding: 60px 0
}

.ap_index .intro .box_three img {
  margin: 0 36px
}

.lib_index {
  min-width: 1366px
}

.lib_index .swiper-container .banner1 {
  background: url("./banner.png") center top no-repeat
}

.lib_index .swiper-container .banner1 .txtDiv {
  width: 1026px;
  margin: 0 auto;
  padding-top: 147px;
  color: #fff;
  font-size: 18px
}

.lib_index .swiper-container .banner1 .txtDiv .bannerTitle {
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 2px
}

.lib_index .service .step_detail {
  width: 1200px
}

.lib_index .service .step_detail dl {
  width: 300px
}

.lib_index .service .step_detail dl dt .icon {
  background: url("./Slice.png")
}

.lib_index .service .step_detail dl dt .icon1 {
  background-position: top left
}

.lib_index .service .step_detail dl dt .icon2 {
  background-position: -124px top
}

.lib_index .service .step_detail dl dt .icon3 {
  background-position: -248px top
}

.lib_index .service .step_detail dl dt .icon4 {
  background-position: -372px top
}

.lib_index .intro {
  background: #eff6f3
}

.lib_index .intro .box {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto
}

.lib_index .intro .box img {
  float: left
}

.lib_index .intro .box .introDiv {
  float: left;
  padding-top: 118px
}

.lib_index .intro .box .pTitle {
  font-size: 24px
}

.lib_index .intro .box .hr {
  width: 24px;
  height: 4px;
  background: #333;
  margin: 24px 0
}

.lib_index .intro .box .pTxt {
  font-size: 14px;
  color: #999;
  line-height: 30px
}

.lib_index .intro .box_one img {
  margin: 0 93px 0 150px
}

.lib_index .intro .box_two {
  background: #fff;
  margin-top: 44px;
  padding-top: 30px;
  height: 494px
}

.lib_index .intro .box_two .introDiv {
  margin: 0 120px 0 170px
}

.lib_index .intro .box_three {
  padding: 60px 0
}

.lib_index .intro .box_three img {
  margin: 0 160px 0 170px
}

.free {
  background: #eff6f3;
  padding: 20px 0 40px 0
}

.free .box {
  overflow: hidden;
  padding: 40px 40px 0;
  width: 1200px;
  margin: 0 auto;
  background: #fff;
  min-height: 607px
}

.free .ptitle {
  border-bottom: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 20px
}

.free .content {
  margin-bottom: 60px;
  padding-left: 20px;
  color: #666;
  font-size: 14px;
  line-height: 24px
}

.free .content .tipUl {
  margin-bottom: 50px
}

.free .content a {
  text-decoration: underline
}

.logreg {
  background: #eff6f3
}

.logreg .centerDiv {
  padding: 40px 0 70px 0;
  width: 1200px;
  margin: 0 auto;
  overflow: hidden
}

.logreg .leftDiv {
  width: 756px;
  height: 558px;
  background: #fff
}

.logreg .rightDiv {
  width: 440px;
  height: 558px;
  background: #fff
}

.logreg .equitiesDiv {
  padding: 40px;
  background: url("./svip.png") #fff no-repeat 362px 281px
}

.logreg .equitiesDiv h1 {
  text-align: center;
  font-size: 22px;
  color: #333;
  padding-bottom: 56px
}

.logreg .equitiesDiv .iconfont {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #eff6f3;
  text-align: center;
  line-height: 32px;
  color: #00bdae;
  border-radius: 100%;
  margin-right: 15px;
  font-size: 32px;
  float: left
}

.logreg .equitiesDiv ul li {
  height: 32px;
  line-height: 32px;
  float: left;
  width: 50%;
  margin-bottom: 20px;
  font-size: 16px;
  color: #666
}

.logreg .reg_log {
  background: #fff;
  box-sizing: border-box;
  padding: 40px
}

.logreg .reg_log h1 {
  text-align: center;
  font-size: 22px;
  color: #333;
  padding-bottom: 20px
}

.logreg .reg_log .form-control {
  width: 100%;
  margin-bottom: 14px
}

.logreg .reg_log .msgInp {
  width: 200px
}

.logreg .reg_log .sendMsg {
  width: 110px
}

.logreg .reg_log .check {
  font-size: 13px
}

.logreg .reg_log .check a {
  color: #999
}

.logreg .reg_log .registerBtn {
  background: #ff4546;
  width: 100%;
  margin: 20px 0 14px 0
}

.logreg .reg_log .loginBtn {
  margin: 20px 0 14px 0
}

.logreg .reg_log .goLR {
  float: right;
  color: #666
}

.logreg .reg_log .goLR a {
  color: #ff4546
}

.logreg .reg_log .goLogin a {
  color: #00bdae
}

.logreg .reg_log .color666 {
  color: #666
}

.help-block {
  margin: 0
}

.help-block {
  background: rgba(255,69,70,0.2);
  color: #ff4546 !important;
  height: 32px;
  line-height: 32px;
  margin-top: -14px;
  display: none;
  padding-left: 46px;
  position: relative
}

.help-block:after {
  content: '';
  width: 18px;
  height: 18px;
  background: url("./webIcon.png") 0 -110px;
  position: absolute;
  left: 20px;
  top: 7px
}

.v_code {
  height: 44px;
  line-height: 44px;
  margin-bottom: 14px
}

.v_code .imgCode {
  float: left;
  height: 44px
}

.v_code .change {
  color: #666;
  float: right
}

.v_code .change:hover {
  text-decoration: underline
}

.popForgetPs .form-control {
  width: 100%;
  margin-bottom: 14px
}

.popForgetPs .findDiv {
  overflow: hidden;
  margin-top: 14px;
  text-align: center
}

.popForgetPs .firstWay {
  margin-right: 16px
}

.popForgetPs .findWay {
  width: 185px;
  height: 158px;
  box-sizing: border-box;
  display: inline-block;
  background: #f1f7f7;
  border: 1px solid #e4f0ef;
  float: left;
  text-decoration: none
}

.popForgetPs .findWay .wayIcon {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-top: 27px;
  margin-bottom: 10px;
  background: url("./icon.png") -72px -166px
}

.popForgetPs .findWay .phoneIcon {
  background-position: -152px -166px
}

.popForgetPs .baseBtn {
  margin-top: 20px
}

.popForgetPs .sendOk {
  text-align: center;
  color: rgba(2,38,35,0.6)
}

.popForgetPs .sendOk .sendIcon {
  display: inline-block;
  width: 66px;
  height: 66px;
  background: url("./icon.png") -72px -100px;
  margin: 20px 0
}

.adsPopDiv {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none
}

.adsPopDiv .imgAd {
  background: #f99;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -225px
}

.adsPopDiv .closeAd {
  display: inline-block;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  opacity: .7
}

.emptyDiv {
  text-align: center;
  padding: 60px 0
}

.emptyDiv .emptyIcon {
  display: inline-block;
  width: 116px;
  height: 116px;
  background: url("./webIcon.png") -330px 0;
  margin-bottom: 10px
}

.tipUl {
  clear: both
}

.tipUl li {
  list-style-type: decimal;
  margin-left: 15px;
  line-height: 24px
}

.nc-container {
  margin-bottom: 14px
}

.nc-container .nc_scale span {
  height: 34px !important
}

._nc .stage1 .slider {
  left: 0 !important;
  right: 0 !important
}

._nc .stage1 .bg-green {
  background: #00bdae !important
}

._nc .icon-ok {
  color: #00bdae !important
}

.nc-container #nc_1_wrapper,.nc-container.tb-login #nc_1_wrapper {
  width: 100% !important
}

.nc-container .nc_scale .nc_ok,.nc-container .nc_scale .nc_bg {
  background: #00bdae !important
}

.nc-container .nc_scale .btn_ok {
  color: #00bdae !important
}

@media only screen and (max-width:1580px) {
  #homepage .introDiv .seoDetail .seoinfo {
    margin-left: 45px
  }

  #homepage .introDiv .seoDetail .swiper-container {
    width: 1000px
  }
}